@using OnChotto.Models.Entities;
@model IEnumerable<Post>

<!-- ============================================== BLOG SLIDER ============================================== -->
<section class="section outer-bottom-vs block block-white wow fadeInUp">
    <h3 class="section-title heading-title ud-line"><a href="/blog" title="Xem thêm tin tức">Blog</a></h3>
    <div class="blog-slider-container outer-top-xs">
        <div class="owl-carousel blog-slider custom-carousel">

            @foreach (var m in Model)
            {
                <div class="item">
                    <div class="blog-post">
                        <div class="blog-post-image">
                            <div class="image">
                                <a href="/blog/@m.Category.Slug/@m.Slug" title="@m.Title">
                                    <img data-echo="@m.Image" src="@m.Image" alt="@m.Title" width="270" height="135" style="max-width: 100%;">
                                </a>
                            </div>
                        </div><!-- /.blog-post-image -->

                        <div class="blog-post-info text-left">
                            <h3 class="name"><a href="/blog/@m.Category.Slug/@m.Slug" title="@m.Title">@m.Title</a></h3>
                            <span class="info"><i class="fa fa-tags" aria-hidden="true"></i> <a href="/blog/@m.Category.Slug">@m.Category.Name</a> | @m.createDate.Value.Date.ToShortDateString()</span>
                            <p class="text">@m.Content.Remove_Html_Tags().LimitLength(80, "...")</p>
                            <a href="/blog/@m.Category.Slug/@m.Slug" class="lnk btn btn-success">Chi tiết</a>
                        </div><!-- /.blog-post-info -->
                    </div><!-- /.blog-post -->
                </div><!-- /.item -->
            }
        </div><!-- /.owl-carousel -->
    </div><!-- /.blog-slider-container -->
</section><!-- /.section -->
<!-- ============================================== BLOG SLIDER : END ============================================== -->	